<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-flat-button color="primary" routerLink="/carsList">Cars List</button>
  <button mat-button routerLink="/apropos">A Propos</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with login icon">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
